<div id="age_checker_content" class="agegate_content">
    <div id="age_checker_header_message">
        {{ age_checker_header_message }}
    </div>

    <div id="age_checker_widget">
        <div id="age_checker_error_message"> </div>
        {{ age_checker_form }}
    </div>
</div>

<div id="age_checker_footer_message">
    {{ age_checker_footer_message }}
</div>

